 :root {
    --main-color: #FFB411;
    --text-color: #1E1C2A;
    --main-font: 4rem;
    --h2-font:2.24rem;
    --big-font: 4rem;
    --border-radius: 0.5rem;
    --section-padding: 1.5rem 0 2.5rem 0;
}

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 }

 .main {
    background-color: #FBFBFB;
  }
 .container {
    max-width: 1450px;
    margin: auto;
}
 .navbar {
    display: flex;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 25px;
    justify-content: space-between;
}
 .ul {
    list-style: none;
}
 .section {
    padding: 50px 10%;
}
 .home {
    height: 100vh;
}
 .home .container {
    display: flex;
}
 .home-left,
 .home-img {
    width: 50%;
}
 .home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
 .home-left h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}
 .home-left a {
    background-color: var(--background-color);
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: var(--border-radius);
    text-decoration: none;
}
 .home-img {
    width: 100%;
    height: 100%;
}
 .about {
    padding: var(--section-padding-top-bottom) 0;
  }
  .about .container {
    display: flex;
    gap: 1.5rem;
  }
  .about-left img {
    width: 80%;
    border-radius: var(--border-radius);
  }
  .about-left,
  .about-right {
    width: 50%;
  }
  .about-right {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  .about-right h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
  }
  .about-right p {
    margin: 0.8rem 0 1.8rem;
  }
  .about-right a {
    background-color: var(--main-color);
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: var(--border-radius);
    text-decoration: none;
  }
  .menu-top{
    text-align: center;
  }
  .menu-cards{
    display: flex;
  }
  .menu-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    box-shadow: 0 2px 4px rgb(4 64 54 / 10%);
    border-radius: var(--border-radius);
  }
  .fa-cart-shopping{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    background-color: var(--main-color);
    border-radius: 0 0.5rem 0 0.5rem;
    font-size: 15px;
  }
  .menu-item_img{
    width: 200px;
    height: 200px;
  }
  .menu-item_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }